<template>
  <!-- MODAL SHOW & FORM -->
  <v-dialog v-bind="$attrs" v-on="$listeners" max-width="800" persistent>
    <!-- SHOW PERSON -->
    <v-card
      v-if="showMode"
      class="mx-auto"
      width="100%"
      color="blue-grey lighten-5"
    >
      <v-btn icon color="error" class="float-left" @click="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-row>
        <v-col cols="4" class=" mt-10 pr-5 text-center">
          <v-avatar size="200" color="grey" class="elevation-5">
            <v-img
              v-if="!formPerson.foto.includes('data:image/jpeg;base64,')"
              :src="base64Image"
            />
          </v-avatar>
          <p class="text-h6 mt-5">{{ nombreCompleto }}</p>
          <v-chip
            label
            class="white--text"
            :color="
              personaEstado === 'Inactivo'
                ? 'red'
                : personaEstado === 'Activo'
                ? 'green'
                : personaEstado === 'Licencia'
                ? 'orange'
                : 'black'
            "
            >{{ personaEstado }}</v-chip
          >
        </v-col>
        <v-col cols="8" class="px-5">
          <v-card shaped class="mt-5">
            <div class="overline pa-4">
              <span>
                <v-icon right color="primary" class="mr-2"
                  >mdi-card-account-details</v-icon
                >
                Información</span
              >
              <v-divider />
            </div>
            <v-card-text class="pt-0">
              <v-list two-line class="py-0">
                <v-row>
                  <v-col cols="12" class="pb-0">
                    <v-row>
                      <col-list-item
                        title="nombre"
                        :subtitle="formPerson.nombre"
                      />
                      <col-list-item
                        v-show="formPerson.onombre"
                        title="Otros nombres"
                        :subtitle="formPerson.onombre"
                      />
                      <col-list-item
                        title="apellido"
                        :subtitle="formPerson.apellido"
                      />
                      <col-list-item
                        v-show="formPerson.oapellido"
                        title="email"
                        :subtitle="formPerson.oapellido"
                      />
                    </v-row>
                  </v-col>
                  <v-col cols="12" class="pt-0">
                    <v-row>
                      <col-list-item
                        title="Fecha de Nacimiento"
                        :subtitle="formPerson.f_nacimiento"
                      />
                      <col-list-item title="Género" :subtitle="personaGenero" />
                      <col-list-item
                        title="tipo y nro documento"
                        :subtitle="personaTipoDoc"
                      />
                      <col-list-item title="cuit" :subtitle="formPerson.cuit" />
                    </v-row>
                  </v-col>
                </v-row>
              </v-list>
            </v-card-text>
          </v-card>
          <v-card shaped class="mt-5">
            <div class="overline pa-4">
              <span>
                <v-icon right color="primary" class="mr-2"
                  >mdi-card-account-phone</v-icon
                >
                Información de contacto
              </span>
              <v-divider />
            </div>
            <v-card-text class="pt-0">
              <v-list two-line class="py-0">
                <v-row>
                  <col-list-item title="email" :subtitle="formPerson.email" />
                  <col-list-item
                    title="celular"
                    :subtitle="formPerson.celular"
                  />
                </v-row>
              </v-list>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
    <!-- FORM CREATE - EDIT -->
    <v-form
      v-else
      @submit.prevent="editedIndex === -1 ? createPerson() : updatePerson()"
    >
      <v-card>
        <v-card-title class="success white--text">
          <span class="headline">{{ formTitle }} </span>
          <v-spacer></v-spacer>
          <v-btn icon
            ><v-icon color="white" @click="close">mdi-close</v-icon></v-btn
          >
        </v-card-title>

        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col cols="12" class="text-center">
                <v-subheader> Información </v-subheader>

                <v-divider></v-divider>
              </v-col>
              <v-col cols="12" class="pb-0">
                <v-row justify="center" align="end">
                  <v-col cols="12" md="6" class="pb-0 text-center">
                    <v-avatar
                      v-if="editedIndex === -1"
                      size="200"
                      class="mb-8 mb-sm-15 elevation-5"
                      color="grey"
                      rounded
                    >
                      <v-img v-if="imagen.length" :src="imagen" alt="image" />
                      <v-icon v-else color="white" x-large
                        >mdi-account-circle
                      </v-icon>
                    </v-avatar>
                    <v-avatar
                      v-else
                      size="200"
                      rounded
                      class="mb-8 mb-sm-15 elevation-5"
                    >
                      <v-img v-if="imagen.length" :src="imagen" alt="image" />
                      <v-img
                        v-else-if="
                          !formPerson.foto.includes('data:image/jpeg;base64,')
                        "
                        :src="base64Image"
                      />
                    </v-avatar>
                    <br />
                    <v-file-input
                      v-model="file"
                      accept="image/jpeg, image/png"
                      label="Imagen"
                      prepend-icon=""
                      prepend-inner-icon="mdi-camera"
                      outlined
                      counter
                      show-size
                      small-chips
                      @change="uploadImage"
                    />
                  </v-col>
                  <v-col cols="12" md="6" class="pb-0">
                    <v-row>
                      <v-col cols="12" sm="6" md="12" class="pb-0">
                        <v-text-field
                          outlined
                          v-model="formPerson.nombre"
                          label="Nombre"
                          :error-messages="nombreErrors"
                          @input="$v.formPerson.nombre.$touch()"
                          @blur="$v.formPerson.nombre.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="12" class="pb-0">
                        <v-text-field
                          outlined
                          v-model="formPerson.onombre"
                          label="Otros Nombres"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="12" class="pb-0">
                        <v-text-field
                          outlined
                          v-model="formPerson.apellido"
                          label="Apellido"
                          :error-messages="apellidoErrors"
                          @input="$v.formPerson.apellido.$touch()"
                          @blur="$v.formPerson.apellido.$touch()"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="12" class="pb-0">
                        <v-text-field
                          outlined
                          v-model="formPerson.oapellido"
                          label="Otros Apellidos"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-col>

              <v-col cols="12">
                <v-subheader> Información de contacto </v-subheader>
                <v-divider></v-divider>
              </v-col>
              <v-col cols="12" sm="6" class="pb-0">
                <v-text-field
                  outlined
                  v-model="formPerson.email"
                  label="Email"
                  :error-messages="emailErrors"
                  @input="$v.formPerson.email.$touch()"
                  @blur="$v.formPerson.email.$touch()"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" class="pb-0">
                <v-text-field
                  outlined
                  v-model="formPerson.celular"
                  v-mask="['(####) ########']"
                  hint="Código de área. Ej:  CABA (0011) - Cordoba (0351) - Olavarria (2284)"
                  persistent-hint
                  label="Nro Celular"
                  :error-messages="celularErrors"
                  @input="$v.formPerson.celular.$touch()"
                  @blur="$v.formPerson.celular.$touch()"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-subheader> Información Básica </v-subheader>
                <v-divider></v-divider>
              </v-col>
              <v-col cols="12" sm="6" class="pb-0">
                <v-text-field
                  outlined
                  v-mask="'##-##-####'"
                  v-model="formPerson.f_nacimiento"
                  hint="Formato: DD-MM-YYYY"
                  persistent-hint
                  label="Fecha de nacimiento"
                  :error-messages="f_nacimientoErrors"
                  @input="$v.formPerson.f_nacimiento.$touch()"
                  @blur="$v.formPerson.f_nacimiento.$touch()"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" class="pb-0">
                <v-select
                  v-model="formPerson.genero_id"
                  :items="personaDataForm.generos"
                  item-text="nombre"
                  item-value="id"
                  label="Género"
                  outlined
                  :error-messages="genero_idErrors"
                  @input="$v.formPerson.genero_id.$touch()"
                  @blur="$v.formPerson.genero_id.$touch()"
                ></v-select>
              </v-col>
              <v-col cols="6" class="pb-0">
                <v-select
                  v-model="formPerson.tipo_documento_id"
                  :items="personaDataForm.documentos"
                  item-text="nombre"
                  item-value="id"
                  label="Tipo de Documento"
                  outlined
                  :error-messages="tipo_documento_idErrors"
                  @input="$v.formPerson.tipo_documento_id.$touch()"
                  @blur="$v.formPerson.tipo_documento_id.$touch()"
                ></v-select>
              </v-col>
              <v-col cols="6" class="pb-0">
                <v-text-field
                  outlined
                  v-model="formPerson.nro_documento"
                  v-mask="'########'"
                  label="Nro Documento"
                  :error-messages="nro_documentoErrors"
                  @input="$v.formPerson.nro_documento.$touch()"
                  @blur="$v.formPerson.nro_documento.$touch()"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" class="pb-0">
                <v-text-field
                  outlined
                  v-mask="'##-########-#'"
                  v-model="formPerson.cuit"
                  label="Nro Cuit"
                  :error-messages="cuitErrors"
                  @input="$v.formPerson.cuit.$touch()"
                  @blur="$v.formPerson.cuit.$touch()"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" class="pb-0">
                <v-select
                  v-model="formPerson.estado_id"
                  :items="personaDataForm.estados"
                  item-text="nombre"
                  item-value="id"
                  label="Estado"
                  outlined
                  :error-messages="estado_idErrors"
                  @input="$v.formPerson.estado_id.$touch()"
                  @blur="$v.formPerson.estado_id.$touch()"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" text @click="close" :disabled="loading">
            Cancelar
          </v-btn>
          <v-btn
            color="success"
            type="submit"
            :disabled="isValid"
            :loading="loading"
          >
            {{ btnForm }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { mapState } from "vuex";
import { required, email, numeric } from "vuelidate/lib/validators";
import ColListItem from "../../list/ColListItem.vue";
export default {
  components: { ColListItem },
  name: "create-edit-person-form",
  props: {
    formPerson: {
      type: Object,
      default: () => {},
      required: true
    },
    editedIndex: {
      type: Number,
      default: -1,
      required: true
    },
    showMode: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  data: () => ({
    file: [],
    imagen: "",
    loading: false,
    panel: 0
  }),
  validations: {
    formPerson: {
      nombre: {
        required
      },
      apellido: {
        required
      },
      email: {
        required,
        email
      },
      celular: {
        required
      },
      f_nacimiento: {
        required
      },
      genero_id: {
        required
      },
      tipo_documento_id: {
        required
      },
      estado_id: {
        required
      },
      cuit: {
        required
      },
      nro_documento: {
        required,
        numeric
      }
    }
  },
  computed: {
    ...mapState("persona", ["personaDataForm"]),

    formTitle() {
      return this.editedIndex === -1
        ? "Nueva Persona"
        : "Editar  " + this.nombreCompleto;
    },
    nombreCompleto() {
      return this.formPerson.nombre + " " + this.formPerson.apellido;
    },
    btnForm() {
      return this.editedIndex === -1 ? "guardar" : "Actualizar ";
    },
    base64Image() {
      return "data:image/jpeg;base64," + this.formPerson.foto;
    },
    personaGenero() {
      return this.formPerson.genero_id === 1 ? "Femenino" : "masculino";
    },
    personaTipoDoc() {
      let documento = "";
      this.personaDataForm.documentos.forEach(doc => {
        if (doc.id === this.formPerson.tipo_documento_id) {
          documento = doc.nombre + " " + this.formPerson.nro_documento;
        }
      });

      return documento;
    },
    personaEstado() {
      let estado = "";
      this.personaDataForm.estados.forEach(e => {
        if (e.id === this.formPerson.estado_id) {
          estado = e.nombre;
        }
      });
      return estado;
    },
    // ERRORES VALIDACIONES
    nombreErrors() {
      const errors = [];
      if (!this.$v.formPerson.nombre.$dirty) return errors;
      !this.$v.formPerson.nombre.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    apellidoErrors() {
      const errors = [];
      if (!this.$v.formPerson.apellido.$dirty) return errors;
      !this.$v.formPerson.apellido.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.formPerson.email.$dirty) return errors;
      !this.$v.formPerson.email.email && errors.push("Ingrese un email válido");
      !this.$v.formPerson.email.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    celularErrors() {
      const errors = [];
      if (!this.$v.formPerson.celular.$dirty) return errors;
      !this.$v.formPerson.celular.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    f_nacimientoErrors() {
      const errors = [];
      if (!this.$v.formPerson.f_nacimiento.$dirty) return errors;
      !this.$v.formPerson.f_nacimiento.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    genero_idErrors() {
      const errors = [];
      if (!this.$v.formPerson.genero_id.$dirty) return errors;
      !this.$v.formPerson.genero_id.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    tipo_documento_idErrors() {
      const errors = [];
      if (!this.$v.formPerson.tipo_documento_id.$dirty) return errors;
      !this.$v.formPerson.tipo_documento_id.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    estado_idErrors() {
      const errors = [];
      if (!this.$v.formPerson.estado_id.$dirty) return errors;
      !this.$v.formPerson.estado_id.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    cuitErrors() {
      const errors = [];
      if (!this.$v.formPerson.cuit.$dirty) return errors;
      !this.$v.formPerson.cuit.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    nro_documentoErrors() {
      const errors = [];
      if (!this.$v.formPerson.nro_documento.$dirty) return errors;
      !this.$v.formPerson.nro_documento.numeric &&
        errors.push("Este campo solo admite números");
      !this.$v.formPerson.nro_documento.required &&
        errors.push("Este campo es obligatiorio.");
      return errors;
    },
    isValid() {
      let isDisabled = true;
      if (
        this.formPerson.nombre != "" &&
        this.formPerson.apellido != "" &&
        this.formPerson.email != "" &&
        this.formPerson.celular != "" &&
        this.formPerson.celular.length === 15 &&
        this.formPerson.f_nacimiento != "" &&
        this.formPerson.f_nacimiento.length === 10 &&
        this.formPerson.genero_id != "" &&
        this.formPerson.tipo_documento_id != "" &&
        this.formPerson.nro_documento != "" &&
        this.formPerson.nro_documento.length === 8 &&
        this.formPerson.cuit != "" &&
        this.formPerson.cuit.length === 13 &&
        this.formPerson.estado_id != ""
      ) {
        isDisabled = false;
      } else {
        isDisabled = true;
      }
      return isDisabled;
    }
  },
  methods: {
    close() {
      this.$emit("closeDialog");
    },
    uploadImage(event) {
      let img = event;
      img ? console.log("hay foto") : console.log("no hayfoto");
      if (img) {
        const reader = new FileReader();
        reader.onload = e => {
          this.imagen = e.target.result;
        };
        reader.readAsDataURL(img);
      } else {
        this.imagen = "";
      }
    },
    createPerson() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        this.formPerson.foto = this.imagen;
        this.$store
          .dispatch("persona/nuevaPersona", this.formPerson)
          .then(res => {
            this.$store.dispatch("persona/reload");
            this.imagen = "";
            this.file = null;
            this.close();
            this.loading = false;
            this.$awn.success("Se creó correctmente");
          })
          .catch(r => {
            this.close();
          });
      }
    },
    updatePerson() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        if (this.imagen.length) {
          this.formPerson.foto = this.imagen;
        } else {
          this.formPerson.foto = this.base64Image;
        }
        this.$store
          .dispatch("persona/actualizarPersona", this.formPerson)
          .then(response => {
            this.$store.dispatch("persona/reload");
            this.imagen = "";
            this.file = null;
            this.close();
            this.loading = false;
            this.$awn.success("Se actualizo correctmente");
          })
          .catch(response => {
            this.close();
          });
      }
    }
  }
};
</script>
