<template>
  <v-col cols="6" class="mt-0 pt-0 font-weight-bold overline"
    ><v-list-item>
      <v-list-item-content>
        <v-list-item-title class="overline">{{ title }}</v-list-item-title>
        <v-list-item-subtitle class="font-weight-light primary--text">{{
          subtitle
        }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item></v-col
  >
</template>

<script>
export default {
  name: "ColListItem",
  props: {
    title: {
      type: String,
      default: "title",
      required: true
    },
    subtitle: {
      type: String,
      default: "subtitle"
    }
  }
};
</script>

<style></style>
