<template>
  <div>
    <v-app-bar fixed app class="primary" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer></v-spacer>
      <!-- <v-switch v-model="$vuetify.theme.dark"></v-switch> -->
    </v-app-bar>
    <base-drawer v-model="drawer" />
  </div>
</template>

<script>
import BaseDrawer from "~/components/ui/layouts/BaseDrawer.vue";
export default {
  components: {
    BaseDrawer
  },
  data: () => ({
    drawer: true,
    title: "AudiRed"
  })
};
</script>
