<template>
  <v-sheet color="grey lighten-4">
    <v-breadcrumbs :items="crumbs">
      <template v-slot:item="{ item }">
        <!-- Verifica si es el ultimo y desabilitar el link -->
        <v-breadcrumbs-item
          v-if="item.i == crumbs.length - 1"
          :href="item.href"
          :disabled="true"
        >
          {{ item.text }}
        </v-breadcrumbs-item>

        <!-- Crea los links habilitados -->
        <v-breadcrumbs-item v-else :href="item.href" :disabled="false">
          {{ item.text }}
        </v-breadcrumbs-item>
      </template>
      <template v-slot:divider>
        <v-icon>mdi-forward</v-icon>
      </template>
    </v-breadcrumbs>
    <!-- {{ crumbs }} -->
  </v-sheet>
</template>

<script>
import startCase from "lodash.startcase";
export default {
  name: "BaseBreadcrumbs",
  computed: {
    crumbs() {
      const pathArray = this.$route.path.split("/");
      pathArray.shift();
      const breadcrumbs = pathArray.reduce(
        (breadcrumbArray, path, idx) => {
          breadcrumbArray.push({
            i: idx + 1,
            href: breadcrumbArray[idx - 1]
              ? "/" + breadcrumbArray[idx - 1].path + "/" + path
              : "/" + path,
            text: startCase(path),
            disabled: false
          });
          return breadcrumbArray;
        },
        [
          {
            i: 0,
            href: "/dashboard",
            text: "AudiNet",
            disabled: false
          }
        ]
      );
      return breadcrumbs;
    }
  }
};
</script>

<style></style>
