<template>
  <v-navigation-drawer
    app
    fixed
    :mini-variant.sync="mini"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-list>
      <div v-for="(item, i) in items" :key="i">
        <v-list-group
          v-if="item.children"
          :value="false"
          :prepend-icon="item.icon"
          color="primary"
        >
          <template v-slot:activator>
            <v-list-item-title class="text-overline">{{
              item.title
            }}</v-list-item-title>
          </template>
          <v-list-item
            v-for="h in item.children"
            :key="h.i"
            :to="h.to"
            router
            exact
            color="primary"
          >
            <v-list-item-icon>
              <v-icon v-text="h.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-title v-text="h.title"></v-list-item-title>
          </v-list-item>
        </v-list-group>
        <v-list-item v-else :to="item.to" router exact color="primary">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="text-overline" v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </div>
    </v-list>
    <template v-slot:append>
      <div class="pa-2 text-right">
        <v-btn icon @click.stop="mini = !mini">
          <v-icon>mdi-{{ `chevron-${mini ? "right" : "left"}` }}</v-icon>
        </v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "BaseDrawer",
  data: () => ({
    mini: false,
    items: [
      {
        icon: "mdi-view-dashboard",
        title: "Dashboard",
        to: "/dashboard",
        children: ""
      },
      {
        icon: "mdi-apps",
        title: "Gestion",
        to: "#",
        children: [
          {
            icon: "mdi-plus",
            title: "Persona",
            to: "/gestion/persona"
          },
          {
            icon: "mdi-account",
            title: "Usuarios",
            to: "/gestion/usuarios"
          },
          {
            icon: "mdi-plus",
            title: "Roles",
            to: "/gestion/roles"
          },
          {
            icon: "mdi-plus",
            title: "Financiadores",
            to: "/gestion/financiadores"
          },
          {
            icon: "mdi-plus",
            title: "Estadisticas",
            to: "/gestion/estadisticas"
          }
        ]
      }
    ]
  })
};
</script>
