<template>
  <div class="text-center pt-3">
    <v-pagination
      v-model="currentPage"
      :length="lastPage"
      :total-visible="6"
      circle
    ></v-pagination>
  </div>
</template>

<script>
export default {
  name: "BasePaginate",
  // Props: Store hace referencia al nombre del modulo, collection a la variable de estado user.js users[]
  props: ["store", "collection"],
  watch: {
    //Observa si en currentPage hay un nuevo valor y lo envia al metodo nextPage
    currentPage(newVal, oldVal) {
      // console.log(oldVal);
      //Esta condicional evita que se realice doble consulta al cargar o refrescar la vista.
      if (oldVal >= 1) return this.nextPage(newVal);
    }
  },
  computed: {
    // Obtiene el la pagina actual
    currentPage: {
      get() {
        return this.$store.state[this.store][this.collection].current_page;
      },
      // Modifica la el estado de la pagina actual
      set(value) {
        this.$store.commit(this.store + "/setCurrentPage", value);
      }
    },
    // Obtiene la ultima pagina
    lastPage: {
      get() {
        return this.$store.state[this.store][this.collection].last_page;
      }
    }
  },
  methods: {
    // Ejecuta la peticion nueva con el nro de pagina capturado por el Observer [watch]
    nextPage(nroPag) {
      this.$store.dispatch(this.store + "/getList", nroPag);
    }
  }
};
</script>

<style></style>
