<template>
  <v-expansion-panels inset class="px-4">
    <v-expansion-panel>
      <v-expansion-panel-header class="primary--text">
        <span
          ><v-icon color="primary" class="mr-2">mdi-magnify</v-icon>Búsqueda
          Personalizada</span
        ></v-expansion-panel-header
      >
      <v-expansion-panel-content>
        <v-form v-model="valid" lazy-validation class="px-3">
          <v-row align="center" justify="center">
            <v-col cols="12" md="4">
              <v-text-field
                v-model="search"
                :error-messages="searchErrors"
                label="Buscar"
                hint="Ingrese el dato que desa buscar"
                persistent-hint
                required
                color="primary"
                @input="$v.search.$touch()"
                @blur="$v.search.$touch()"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                v-model="selected"
                :error-messages="selectedErrors"
                :items="filtros"
                item-text="nombre"
                item-value="value"
                label="Buscar en"
                small-chips
                :multiple="multiple"
                hint="Seleccione una columna para iniciar la búsqueda"
                persistent-hint
                color="primary"
                required
                @input="$v.selected.$touch()"
                @blur="$v.selected.$touch()"
              >
                <!-- <template v-slot:prepend-item>
                  <v-list-item v-if="multiple" ripple @click="toggle()">
                    <v-list-item-action>
                      <v-icon
                        :color="selected.length > 0 ? 'indigo darken-4' : ''"
                      >
                        {{ icon }}
                      </v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>
                        Seleccionar todos
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template> -->
              </v-select>
            </v-col>
            <v-col cols="6" md="2" class="d-flex justify-end">
              <v-btn
                :disabled="isValid"
                color="success"
                small
                @click="filtrarConsulta"
                >Buscar</v-btn
              >
            </v-col>
            <v-col cols="6" md="2" class="d-flex justify-start">
              <v-btn small @click="limpiarForm">limpiar</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { required } from "vuelidate/lib/validators";
export default {
  name: "SearchFormTable",
  props: {
    filtros: {
      type: Array,
      default: () => [],
      required: true
    },
    store: {
      type: String,
      required: true
    },
    multiple: {
      type: Boolean,
      default: true,
      required: true
    }
  },
  data: () => ({
    selected: "",
    search: "",
    valid: false,
    url: ""
  }),
  validations: {
    search: {
      required
    },
    selected: {
      required
    }
  },
  watch: {},
  computed: {
    searchErrors() {
      const errors = [];
      if (!this.$v.search.$dirty) return errors;
      !this.$v.search.required && errors.push("Este campo es obligatiorio.");
      return errors;
    },
    selectedErrors() {
      const errors = [];
      if (!this.$v.selected.$dirty) return errors;
      !this.$v.selected.required &&
        errors.push("Debes seleccionar una columna.");
      return errors;
    },
    isValid() {
      let isDisabled = true;
      if (this.search != "" && this.selected != "") {
        isDisabled = false;
      } else {
        isDisabled = true;
      }
      return isDisabled;
    },
    searchUrl: {
      get() {
        return this.$store.state[this.store].searchUrl;
      },
      // Modifica la el estado de la pagina actual
      set(value) {
        this.$store.commit(this.store + "/SET_SEARCH_URL", value);
      }
    }
    // se utilizan para seleccion multiple, checkbox ALL
    // selectAllFiltros() {
    //   return this.selected.length === this.filtros.length;
    // },
    // selectSomeFiltro() {
    //   return this.selected.length > 0 && !this.selectAllFiltros;
    // },
    // icon() {
    //   if (this.selectAllFiltros) return "mdi-close-box";
    //   if (this.selectSomeFiltro) return "mdi-minus-box";
    //   return "mdi-checkbox-blank-outline";
    // },
  },
  methods: {
    // toggle para seleccion multiple
    // toggle() {
    //   this.$nextTick(() => {
    //     if (this.selectAllFiltros) {
    //       this.selected = [];
    //     } else {
    //       this.selected = this.filtros.slice();
    //     }
    //   });
    // },
    limpiarForm() {
      //reinicia todas las variables y recarga la tabla principal
      this.$store.dispatch(this.store + "/reload");
      this.$v.$reset();
      this.search = "";
      this.selected = "";
    },
    filtrarConsulta() {
      this.$v.$touch();
      // se realiza una mutacion en la variable searchUrl, con la busqueda a realizar
      this.$store.commit(
        this.store + "/SET_SEARCH_URL",
        "/" +
          this.store +
          "-paginado?" +
          this.selected +
          "=$" +
          this.search +
          ""
      );
      this.$store.dispatch(this.store + "/getList", { page: 1 });
      // utilizar para array multiples
      // const searchParams = new URLSearchParams();
      // this.selected.forEach(element => {
      //   searchParams.append(element, "%" + this.search);
      // });
      // console.log(searchParams.toString());
      //this.url = "/persona-paginado?" + this.selected + "=$" + this.search + "";
      //console.log(this.url);
    }
  }
};
</script>

<style></style>
