<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <v-card
        class="mx-auto"
        width="100%"
        style="border-top: solid #1976d2 5px"
      >
        <v-card-title
          >Administración de Usuarios
          <v-spacer></v-spacer>
          <v-btn color="primary" small>
            crear Usuario <v-icon right dark>mdi-account-plus</v-icon>
          </v-btn>
        </v-card-title>

        <search-form-table
          :filtros="filtros"
          :store="'usuario'"
          :multiple="false"
        />

        <v-card-text>
          <v-skeleton-loader type="table" v-if="this.skeleton">
          </v-skeleton-loader>
          <div v-else>
            <v-data-table
              :headers="headers"
              :items="usuarios.data"
              :footer-props="{
                'items-per-page-options': [10, 20, 30],
                'items-per-page-text': 'Filas por página'
              }"
              :options.sync="options"
              :server-items-length="usuarios.total"
              :sort-desc="false"
              loading-text="Cargando...Espere por favor!"
              :loading="this.loading"
              class="elevation-1"
            >
              <div slot="no-data" class="d-flex justify-center">
                <v-alert
                  class="my-3 elevation-3 "
                  :type="error ? 'error' : 'info'"
                  border="left"
                  dark
                  width="95%"
                  max-width="1000px"
                >
                  <v-row justify="center" align="center">
                    <v-col cols="12" class="my-0 py-0 ">
                      <p class="overline" v-if="!error">
                        No se encontraron resultados para su búsqueda
                      </p>
                      <p class="overline" v-else>
                        Ocurrió un problema en el servidor, si el problema
                        persiste comuniquese con soporte
                      </p>
                    </v-col>
                    <v-col cols="12" class="mb-0 py-0"
                      ><v-btn color="white" outlined small @click="reload()">
                        recargar tabla<v-icon right x-small
                          >mdi-reload</v-icon
                        ></v-btn
                      ></v-col
                    >
                  </v-row>
                </v-alert>
              </div>

              <template v-slot:[`item.estado_id`]="{ item }">
                <span>
                  <v-icon
                    x-small
                    :color="
                      item.estado.nombre === 'Inactivo'
                        ? 'red'
                        : item.estado.nombre === 'Activo'
                        ? 'green'
                        : item.estado.nombre === 'Licencia'
                        ? 'orange'
                        : 'black'
                    "
                    >mdi-checkbox-blank-circle</v-icon
                  >
                  {{ item.estado.nombre }}
                </span>
              </template>

              <template v-slot:[`item.acciones`]="{ item }">
                <v-btn color="primary" icon small>
                  <v-icon> mdi-eye </v-icon>
                </v-btn>
                <v-btn color="success" icon small>
                  <v-icon> mdi-pencil </v-icon>
                </v-btn>
                <v-btn color="error" icon small>
                  <v-icon @click="deleteItem(item.id)"> mdi-delete </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </div>
          <!-- <pre>
            {{ usuarios }}
          </pre> -->
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from "vuex";
import SearchFormTable from "~/components/SearchFormTable.vue";
export default {
  components: { SearchFormTable },
  name: "Usuarios",
  layout: "admin",
  head: {
    title: "Usuarios"
  },
  data: () => ({
    headers: [
      {
        text: "Usuario",
        value: "nombre_usuario"
      },
      {
        text: "Email",
        value: "email"
      },
      {
        text: "Estado",
        value: "estado_id"
      },
      {
        text: "Acciones",
        value: "acciones",
        sortable: false,
        width: "8rem"
      }
    ],
    filtros: ["nombre_usuario", "email"],
    options: {},
    skeleton: true,
    loading: false
  }),
  watch: {
    options: {
      handler() {
        this.getDataFromApi();
      }
    },
    deep: true
  },
  computed: {
    ...mapState("usuario", ["usuarios", "error"])
    // usuarios: {
    //   get() {
    //     return this.$store.state.usuario.usuarios;
    //   }
    // },
    // error: {
    //   get() {
    //     return this.$store.state.usuario.errorConection;
    //   }
    // }
  },
  methods: {
    reload() {
      //reinicia todas las variables y recarga la tabla principal
      this.$store.commit("usuario/SET_SEARCH_URL", "");
      this.$store.dispatch("usuario/getList", 1);
    },
    getDataFromApi() {
      this.loading = true;
      const { sortBy, sortDesc, page, itemsPerPage } = this.options;

      setTimeout(() => {
        this.$store.dispatch("usuario/getList", this.options).then(r => {
          this.loading = false;
        });
      }, 1000);
    }
  },
  mounted() {
    this.loading = true;
    //const { sortBy, sortDesc, page, itemsPerPage } = this.options;
    setTimeout(() => {
      this.$store
        .dispatch("usuario/getList", {
          page: 1,
          itemsPerPage: 10,
          sortDesc: false
        })
        .then(r => {
          this.loading = false;
          this.skeleton = false;
        });
    }, 500);
  }
};
</script>
<style lang="sass"></style>
