<template>
  <v-app>
    <base-nav-bar />
    <v-main>
      <base-breadcrumbs />
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <base-footer />
  </v-app>
</template>

<script>
import BaseBreadcrumbs from "~/components/ui/layouts/BaseBreadcrumbs.vue";
import BaseFooter from "~/components/ui/layouts/BaseFooter.vue";
import BaseNavBar from "~/components/ui/layouts/BaseNavBar.vue";
export default {
  components: { BaseNavBar, BaseFooter, BaseBreadcrumbs },
  data: () => ({
    //
  })
};
</script>
