<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <v-card
        class="mx-auto"
        width="100%"
        style="border-top: solid #1976d2 5px"
      >
        <v-alert v-show="errorConection" type="error"></v-alert>
        <v-card-title
          >Administración de Persona
          <v-spacer></v-spacer>

          <v-btn color="primary" small @click.stop="dialog = !dialog">
            agregar persona <v-icon right dark>mdi-account-plus</v-icon>
          </v-btn>
        </v-card-title>

        <search-form-table
          :filtros="filtros"
          :store="'persona'"
          :multiple="false"
        />

        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="personas.data"
            :footer-props="{
              'items-per-page-options': [2, 10, 20, 30],
              'items-per-page-text': 'Filas por página'
            }"
            :options.sync="options"
            :server-items-length="personas.total"
            loading-text="Cargando...Espere por favor!"
            :loading="this.loading"
            class="elevation-1"
          >
            <v-alert slot="no-result">
              no hay resultados
            </v-alert>
            <div slot="no-data" class="d-flex justify-center">
              <v-alert
                class="my-3 elevation-3 "
                :type="errorConection ? 'error' : 'info'"
                border="left"
                dark
                width="95%"
                max-width="1000px"
              >
                <v-row justify="center" align="center">
                  <v-col cols="12" class="my-0 py-0 ">
                    <p class="overline" v-if="!errorConection">
                      No se encontraron resultados para su búsqueda
                    </p>
                    <p class="overline" v-else>
                      Ocurrió un problema en el servidor, si el problema
                      persiste comuniquese con soporte
                    </p>
                  </v-col>
                  <v-col cols="12" class="mb-0 py-0"
                    ><v-btn color="white" outlined small @click="reload()">
                      reiniciar
                      <v-icon right>mdi-reload</v-icon></v-btn
                    ></v-col
                  >
                </v-row>
              </v-alert>
            </div>
            <template v-slot:[`item.estado_id`]="{ item }">
              <span>
                <v-icon
                  x-small
                  :color="
                    item.estado.nombre === 'Inactivo'
                      ? 'red'
                      : item.estado.nombre === 'Activo'
                      ? 'green'
                      : item.estado.nombre === 'Licencia'
                      ? 'orange'
                      : 'black'
                  "
                  >mdi-checkbox-blank-circle</v-icon
                >
                {{ item.estado.nombre }}
              </span>
            </template>
            <template v-slot:[`item.acciones`]="{ item }">
              <v-btn color="primary" icon small @click="showItem(item)">
                <v-icon> mdi-eye </v-icon>
              </v-btn>
              <v-btn color="success" icon small @click="editItem(item)">
                <v-icon> mdi-pencil </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
    <!-- MODAL FORM -->
    <create-edit-person-form
      v-model="dialog"
      @closeDialog="closeDialog"
      :editedIndex="editedIndex"
      :formPerson="formPersons"
      :showMode="showMode"
    />
  </v-row>
</template>

<script>
import { mapState } from "vuex";
import SearchFormTable from "~/components/SearchFormTable.vue";
import CreateEditPersonForm from "~/components/ui/forms/persona/CreateEditPersonForm.vue";
export default {
  components: { SearchFormTable, CreateEditPersonForm },
  name: "Persona",
  layout: "admin",
  head: {
    title: "Persona"
  },
  data: () => ({
    headers: [
      {
        text: "DNI",
        sortable: false,
        value: "nro_documento"
      },
      {
        text: "Nombre",
        value: "nombre"
      },
      {
        text: "Apellido",
        value: "apellido"
      },
      {
        text: "Estado",
        value: "estado_id"
      },
      {
        text: "Acciones",
        value: "acciones",
        sortable: false,
        width: "8rem"
      }
    ],
    dialog: false,
    editedIndex: -1,
    formPersons: {
      nombre: "",
      onombre: "",
      apellido: "",
      oapellido: "",
      f_nacimiento: "",
      email: "",
      genero_id: 0,
      tipo_documento_id: 0,
      nro_documento: "",
      cuit: "",
      celular: "",
      estado_id: 0,
      foto: ""
    },
    defaultFormPerson: {
      nombre: "",
      onombre: "",
      apellido: "",
      oapellido: "",
      f_nacimiento: "",
      email: "",
      genero_id: 0,
      tipo_documento_id: 0,
      nro_documento: "",
      cuit: "",
      celular: "",
      estado_id: 0,
      foto: ""
    },
    showPerson: {},
    filtros: [
      {
        nombre: "Documento",
        value: "nro_documento"
      },
      {
        nombre: "Nombre",
        value: "nombre"
      },
      {
        nombre: "Apellido",
        value: "apellido"
      }
    ],
    options: {},
    showMode: false,
    loading: false
  }),
  computed: {
    ...mapState("persona", ["personas", "errorConection"])
  },
  watch: {
    options: {
      handler() {
        this.getDataFromApi();
      }
    },
    deep: true
  },

  methods: {
    getDataFromApi() {
      this.loading = true;
      setTimeout(() => {
        this.$store.dispatch("persona/getList", this.options).then(r => {
          this.loading = false;
        });
      }, 500);
    },
    reload() {
      this.$store.dispatch("persona/reload");
    },
    closeDialog() {
      this.dialog = false;
      setTimeout(() => {
        this.$nextTick(() => {
          this.formPersons = Object.assign({}, this.defaultFormPerson);
          this.editedIndex = -1;
          this.showMode = false;
        });
      }, 500);
    },
    editItem(item) {
      this.editedIndex = this.personas.data.indexOf(item);
      this.$nextTick(() => {
        this.formPersons = Object.assign({}, item);
      });
      this.dialog = true;
    },
    showItem(item) {
      this.showMode = true;
      this.$nextTick(() => {
        this.formPersons = Object.assign({}, item);
      });
      this.dialog = true;
    }
  },
  mounted() {
    this.$store.dispatch("persona/getPersonaDataForm");
  }
};
</script>
<style lang="sass"></style>
