<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <h1>Estadisticas</h1>
      <v-divider></v-divider
    ></v-col>
  </v-row>
</template>
<script>
export default {
  name: "Estadisticas",
  layout: "admin",
  head: {
    title: "Estadisticas"
  }
};
</script>
